<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017296850809-604n5aupq9iuibpgr88agub8sp8i1e3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017296850809-604n5aupq9iuibpgr88agub8sp8i1e3a</string>
	<key>API_KEY</key>
	<string>AIzaSyB_CZ5UbAFtRbrwJcd15CKj6FOlMLoQxV4</string>
	<key>GCM_SENDER_ID</key>
	<string>1017296850809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.christianappdevelopers.efapp.efapp</string>
	<key>PROJECT_ID</key>
	<string>francis-c34ff</string>
	<key>STORAGE_BUCKET</key>
	<string>francis-c34ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017296850809:ios:efb11c3bf39b71d762e9a8</string>
	<key>DATABASE_URL</key>
	<string>https://francis-c34ff.firebaseio.com</string>
</dict>
</plist>